@charset "shift_jis";

/*全体の設定
---------------------------------------------------------------------------*/
body {
	background-size: 150%;
}

/*enterブロック設定
---------------------------------------------------------------------------*/
#enter {
	width: auto;	/*ブロック幅*/
	margin-right: 6px;
	margin-left: 6px;
}

/*ENTERとLEAVEのボタンのブロック
---------------------------------------------------------------------------*/
#enterbtn img {
	height: auto;
	width: 30%;
}
