@charset "shift_jis";

/*全体の設定
---------------------------------------------------------------------------*/
body {
	background-size: 150%;
}

/*enterブロック設定
---------------------------------------------------------------------------*/
#enter {
	width: auto;	/*ブロック幅*/
	margin-right: 6px;
	margin-left: 6px;
}

/*ロゴ
---------------------------------------------------------------------------*/
#logo {
	padding: 20px 0px 20px;
	width: 80%;	/*画面に対してロゴ画像を80％の幅に*/
	height: auto;
}

/*ENTERとLEAVEのボタンのブロック
---------------------------------------------------------------------------*/
#enterbtn img {
	height: auto;
	width: 48%;
}
